fastapi
uvicorn[standard]
numpy
pandas
torch
transformers
sentence-transformers
openai
python-docx
pymupdf
pdfminer.six
PyPDF2
pytesseract
Pillow
huggingface
hf_transfer
tqdm
accelerate
python-multipart
scikit-learn